@import "../../common/colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.header{
    background-color: $secondary-color;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Bubblegum Sans', cursive;}

.logo{
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.logo a{
    text-decoration: none;
    color: $font-primary;
}

.user-image, .user-image img{
    width: 38px;
    height: 38px;
}

.search-bar{
    width: 50%;
    display: flex;
    justify-content: center;

    form{
        display: flex;
        justify-content: center;
        width: 75%;

        button{
            padding: 0px 8px;
            font-size: 20px;
            cursor: pointer;
            height: 38px;
        }
    }

    input{
        font-size: 18px;
        width: 100%;
        padding: 5px 5px 5px 10px;
        height: 38px;
        outline: none;
    }

}